[package]
name = "binjs"
version = "0.4.0"
authors = ["David Teller <D.O.Teller@gmail.com>"]
homepage = "https://binast.github.io/ecmascript-binary-ast/"
repository = "https://github.com/binast/binjs-ref"
description = "Set of tools to manipulate files in the JavaScript Binary AST format."
license = "MIT"
build = "build.rs"

[dependencies]
binjs_generic = { path = "crates/binjs_generic", version = "*" }
binjs_es6 = { path = "crates/binjs_es6", version = "*" }
binjs_io = { path = "crates/binjs_io", version = "*" }
binjs_meta = { path = "crates/binjs_meta", version = "*" }
binjs_shared = { path = "crates/binjs_shared", version = "*" }
assert_matches = "*"
bencher = "^0.1"
# brotli = "*"
# Latest release of brotli is incompatible with Rust Nightly.
brotli = { git = "https://github.com/dropbox/rust-brotli", commit = "ae6d9d2db756e41af37f5164f0b5dec65c4c0825" }
clap = "*"
env_logger = "^0.5"
glob = "*"
Inflector = "^0.11.2"
itertools = "*"
json = "*"
log = "*"
lzw = "*"
rand = "^0.4"
test-logger = "*"
vec_map = "*"
webidl = "*"
yaml-rust = "*"

[[bin]]
# Encode a text source to a BinJS.
name = "binjs_encode"
path = "src/bin/encode.rs"

[[bin]]
# Decode a BinJS to a text source
name = "binjs_decode"
path = "src/bin/decode.rs"

[[bin]]
# Dump a BinJS file structure to stdout.
name = "binjs_dump"
path = "src/bin/dump.rs"

[[bench]]
name = "bench_fb"
harness = false

[workspace]
members = ["crates/*"]
